/*
  ****************************************
  LAYOUT
  ****************************************
 */
 .submission {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:50%;
}
.alert-box {
	width:50%;
	margin:20px auto;
	padding:5px;
	border-radius:5px;
	border:1px solid gray;
	color:gray;
}
.result_metadata {
	border:0;
	float:left;
}
#form h3, #form h4, #form h5, #form h6 {
	display:inline;
}
.subsection {
	margin-bottom:10px;
}
.add {
	display:inline;
	margin-right:10px;	
}
/*
  ****************************************
  ORBEON XFORM SPECIFIC STYLE
  ****************************************
 */
.orbeon .xforms-control {
	margin-bottom: 10px;
}
.orbeon .xforms-label {
	font-weight: bold;
	display: inline-block;
	min-width: 9em
}
.orbeon .xforms-select1-appearance-full .xforms-label {
	vertical-align: top
}
.orbeon .xforms-input input[type=text], .orbeon .xforms-textarea textarea, .orbeon .xforms-select1 select {
	width: 20em;
	margin-bottom: 2px;
}
.orbeon .xforms-repeat-selected-item-1 .form-td {
	background-color: #f5f5f5
}
.orbeon .xforms-items {
	display: inline-block
}
.trigger_container {
	margin-bottom:20px;
}
.xforms-trigger-appearance-minimal img {
	vertical-align: middle
}
.xforms-output {
	margin:0;
}
.xforms-output-output {
	padding:0;
	line-height:inherit;
	display:inline;
	font-size:inherit;
	color:black
}
.xforms-trigger {
	text-decoration:none;
}
.xforms-repeat-selected-item-1, .xforms-repeat-selected-item-2, .xforms-repeat-selected-item-3, .xforms-repeat-selected-item-4 {
	background:inherit;
}
.xforms-repeat-selected-item-2 {
	background:none;
}
.xxforms-dialog-body>a, .xxforms-dialog-body>span {
	width:100px;
}
.xbl-component {
	margin:5px 0;
}